{% comment %} functions are passed separately so that can be reused for aliases {% endcomment %}
<ul class="function-list">
    {% for _function_item in site.data.functions %}
        {% assign _function_name = _function_item[0] %}
        {% assign _function = _function_item[1] %}
        {% unless include.functions contains _function_name %}{% continue %}{% endunless %}
        <li data-name="{{ _function.label }}">
            <a href="{{ include.gtfobin.url }}#{{ _function_name }}">{{ _function.label }}</a>
        </li>
    {% endfor %}
</ul>
