{% comment %} return all the features of the given examples {% endcomment %}
{% assign _default_feature_label = site.data.features | first | last | map: 'label'%}
{% assign return_features = '' | split: '' %}
{% for _example in include.examples %}
    {% for _feature_item in _example.features %}
        {% assign _feature_name = _feature_item[0] %}
        {% assign _feature = _feature_item[1] %}
        {% assign return_features = return_features | push: site.data.features[_feature_name].label %}
    {% else %}
        {% assign return_features = return_features | push: _default_feature_label %}
    {% endfor %}
{% endfor %}
{% assign return_features = return_features | uniq | join: "," %}
