<div id="search-toolbox">
    <fieldset>
        <legend>Functions</legend>
        <ul class="search-filters button-list">
            {% for function_item in site.data.functions %}
                {% assign function_name = function_item[0] %}
                {% assign function = function_item[1] %}
                <li><a href="#/^{{ function.label | downcase }}$" data-title="{{ function.description | replace: '\n', ' ' }}">{{ function.label }}</a></li>
            {% endfor %}
        </ul>
    </fieldset>

    <fieldset>
        <legend>Features</legend>
        <ul class="search-filters button-list">
            {% for feature_item in site.data.features %}
                {% assign feature_name = feature_item[0] %}
                {% assign feature = feature_item[1] %}
                <li><a href="#//^{{ feature.label | downcase }}$" data-title="{{ feature.description | replace: '\n', ' ' }}">{{ feature.label }}</a></li>
            {% endfor %}
        </ul>
    </fieldset>

    <input id="bin-search" type="text" placeholder="Search among {{ site.gtfobins | size }} binaries: [<name>]/[<function>]/[<feature>]"/>
</div>

<div id="bin-table-wrapper">
    <table id="bin-table">
        <thead>
            <tr>
                <th>Binary</th>
                <th>Functions</th>
            </tr>
        </thead>
        <tbody>
            {% for original_gtfobin in site.gtfobins %}
                {% comment %} the binary name is the one of the file anyways {% endcomment %}
                {% capture gtfobin_name %}{% include get_gtfobin_name.html path=original_gtfobin.path %}{% endcapture %}

                {% comment %} resolve the alias, if provided {% endcomment %}
                {% if original_gtfobin.alias %}
                    {% include get_gtfobin.html name=original_gtfobin.alias %}
                    {% assign gtfobin = return_gtfobin %}
                {% else %}
                    {% assign gtfobin = original_gtfobin %}
                {% endif %}

                {% comment %} render the row {% endcomment %}
                <tr data-gtfobin-name="{{ gtfobin_name }}">
                    <td><a href="{{ original_gtfobin.url }}" class="bin-name">{{ gtfobin_name }}</a></td>
                    <td>{% include function_list.html gtfobin=original_gtfobin functions=gtfobin.functions %}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr><td colspan="2">No matches!</td></tr>
        </tfoot>
    </table>
</div>

<script>
    function filter(query) {
        // extract query components
        const [namePattern, functionPattern, featurePattern] = query.toLowerCase().split('/', 3).map((pattern) => {
            try {
                if (pattern) {
                    return new RegExp(pattern, 'i');
                } else {
                    return undefined;
                }
            } catch {
                return undefined;
            }
        });

        // hide the table during the filtering to avoid unnecessary layout reflows
        const table = document.querySelector('#bin-table');
        table.classList.add('hidden');

        // filter rows
        let nResults = 0;
        for (const row of table.querySelectorAll('tbody tr')) {
            // show the row by default
            let showRow = true;

            // if the binary name does not match do not show the row
            if (namePattern && !namePattern.test(row.dataset.gtfobinName)) {
                showRow = false;
            }
            // if there are function filters at least one mush match
            else {
                // fetch the functions buttons
                const functionElems = row.children[1].firstElementChild.children;

                // reset functions buttons visibility
                for (const functionElem of functionElems) {
                    functionElem.classList.remove('match');
                    delete functionElem.firstElementChild.dataset.matchingFeatures;
                }

                // skip if empty filters
                if (functionPattern || featurePattern) {
                    // test the individual functions
                    let noMatchingFunctions = true;
                    for (const functionElem of functionElems) {
                        // test the function name
                        const functionMatches = !functionPattern || functionPattern.test(functionElem.dataset.functionName)
                        if (!functionMatches) {
                            continue;
                        }

                        // test the features
                        const featureList = functionElem.dataset.functionFeatures.split(',');
                        const matchingFeatures = featurePattern
                            ? featureList.filter((feature) => featurePattern.test(feature))
                            : featureList;
                        if (matchingFeatures.length === 0) {
                            continue;
                        }
                        // save the macthing features only if there is a pattern
                        else if (featurePattern) {
                            functionElem.firstElementChild.dataset.matchingFeatures = matchingFeatures.join(', ');
                        }

                        // match if both match
                        noMatchingFunctions = false;
                        functionElem.classList.add('match');
                    }

                    // no function satisfies the patterns
                    if (noMatchingFunctions) {
                        showRow = false;
                    }
                }
            }

            // hide or show the row
            if (showRow) {
                row.classList.remove('hidden');
                nResults++;
            } else {
                row.classList.add('hidden');
            }
        }

        // update the message visibility
        const header = table.querySelector('thead');
        const footer = table.querySelector('tfoot');
        if (nResults === 0) {
            header.classList.add('hidden');
            footer.classList.remove('hidden');
        } else {
            header.classList.remove('hidden');
            footer.classList.add('hidden');
        }

        // restore the table visibility
        table.classList.remove('hidden');
    }

    function applyFilter() {
        // filter on load according to the URL
        const searchBox = document.getElementById('bin-search');
        const query = decodeURIComponent(location.hash.slice(1));
        filter(query);

        // if there is a filter fill the box and enter search mode
        if (query) {
            searchBox.value = query;
            searchBox.focus();
            searchBox.parentElement.scrollIntoView();
        }
    }

    function setup() {
        const searchBox = document.getElementById('bin-search');

        // handle user input
        searchBox.addEventListener('input', () => {
            const query = searchBox.value;
            history.replaceState(null, null, encodeURI(`#${query}`));
            applyFilter();
        });

        // handle shortcuts
        addEventListener('keydown', (event) => {
            // focus search box on valid keydown (search as you type)
            if (event.key.toLowerCase().match(/^[-_0-9a-z\/]$/) && !event.ctrlKey) {
                searchBox.focus();
            } else if (event.key === 'Escape') {
                // if the search box is already focused and empty scroll to top
                if (document.activeElement === searchBox && searchBox.value === '') {
                    window.scrollTo(0, 0);
                    searchBox.blur();
                }
                // clear filter and enter search mode
                else {
                    searchBox.focus();
                    location.hash = searchBox.value = '';
                    searchBox.parentElement.scrollIntoView();
                }
            } else if (event.key === 'Enter') {
                // navigate to the first match
                const firstMatch = document.querySelector('#bin-table tbody tr:not(.hidden) td a');
                if (firstMatch) {
                    firstMatch.click();
                }
            }
        });

        // handle URL changes
        window.onhashchange = applyFilter;

        // trigger filter on page load
        applyFilter();
    }

    setup();
</script>
