---
---

$foreground: #000000;
$background: #ffffff;
$accent: #bf0707;
$lighter: #fff4f4;
$marked: #ffcccc;
$hover: #ff0000;
$code-font-size: 13px;
$small-font-size: 14px;

// layout

$column-width: 800px;
$grace-space: 200px;
$layout-break: "(min-width: #{$column-width + $grace-space})";

@media #{$layout-break} {
    body {
        width: $column-width;
        margin: 40px auto;
    }

    p {
        text-align: justify;
    }
}

@media not all and #{$layout-break} {
    .github-corner {
        display: none;
    }
}

// common tags

body {
    font-family: sans, sans-serif;
    font-size: 16px;
    color: $foreground;
    background: $background;
}

code {
    font-size: $code-font-size;
    padding: 0.15em 0.25em;
    border-radius: 0.25em;
    color: $accent;
    background: $lighter;
}

pre {
    background: $lighter;
    font-size: $code-font-size;
    padding: 1em;
    margin: 1rem 0; // to be coherent with the regular-sized text
    overflow-x: auto;

    code {
        padding: 0;
        border-radius: 0;
    }
}

dt {
    font-weight: bold;
}

blockquote {
    margin: 1em 0;

    p {
        padding: 1em;
        margin: 0;
        background: $lighter;
    }
}

hr {
    border: none;
    height: 1px;
    background: $foreground;
}

a {
    &:link, &:visited {
        color: $accent;
    }

    &:hover {
        color: $hover;

        & > *:not(svg) { // XXX not for the GitHub corner
            color: $hover;
        }
    }
}

// permalink on headings

h2, h3, h4, h5, h5 {
    .permalink {
        margin-left: 5px;
        text-decoration: none;
        visibility: hidden;

        &::before {
            content: "#";
        }
    }

    &:target {
        border-left: 5px solid $accent;
        padding-left: 5px;
    }

    &:hover {
        .permalink {
            visibility: visible;
        }
    }
}

// binary list and search

#search-toolbox {
    margin-top: 80px;
    margin-bottom: 20px;
    position: relative; // XXX needed for tooltip sizing

    fieldset {
        border: 1px solid $accent;
        margin: 0;
        padding: 1rem;
        padding-top: 0;

        legend {
            font-weight: bold;
            padding: 0.5em;
        }
    }

    .search-filters {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
            background: $lighter;
            font-size: initial;
            border-radius: 0.25em;

            &:hover:before {
                content: attr(data-title);
                font-size: $small-font-size;
                text-align: center;
                display: block;
                position: absolute;
                left: 10%;
                right: 10%;
                margin-top: 1.75rem; // XXX below the button
                padding: 1em;
                color: $background;
                background: $foreground;
                border-radius: 0.25em;
                pointer-events: none;
            }
        }
    }

    input {
        // enlarge the click area
        margin: -1rem;
        padding: 1rem;
        background: transparent;

        // adjust the width due to negative padding
        width: calc(100% + 2rem);

        font-size: 1rem;
        box-sizing: border-box;
        outline: none;
        border: none;
    }
}

#gtfobin-table-wrapper {
    min-height: 100vh;

    #gtfobin-table {
        width: 100%;
        border-spacing: 0;

        th {
            text-align: left;
            padding: 0.5em;

            &:nth-child(2) {
                width: 100%;
            }
        }

        tbody {
            td {
                padding: 0;

                &:nth-child(1) {
                    font-family: monospace;
                    white-space: nowrap;

                    a {
                        margin: 0 0.5em;
                        text-decoration: none;
                    }
                }

                &:nth-child(2) {
                    padding: 0.2em;
                }
            }

            tr:hover {
                background: $lighter;
            }
        }

        tfoot {
            text-align: center;
            padding: 1em;
        }
    }
}

// function and features buttons used in both the table and single pages

.tag-list {
    display: flex;
    flex-wrap: wrap;
    font-size: $small-font-size;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        a {
            display: inline-block;
            padding: 0.25em 0.5em;
            margin: 0.2em;
            border: 1px solid $accent;
        }

        a:link, a:visited {
            color: $accent;
            text-decoration: none;
        }

        a:hover {
            color: $hover;
            border-color: $hover;
        }

        &.match a {
            background: $marked;

            &[data-matching-features]:after {
                content: " (" attr(data-matching-features) ")";
            }
        }
    }
}

// function examples

.examples {
    display: table;
    width: 100%;
    table-layout: fixed;
    counter-reset: item;
    margin: 0;
    padding: 0;

    & > li {
        display: table-row;

        &:before {
            display: table-cell;
            font-size: $small-font-size;
            font-weight: bold;
            width: 3em;
            text-align: center;
            counter-increment: item;
            content: "(" counter(item, lower-alpha) ")";
        }
    }
}

// feature tabs

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;

    input[type=radio] {
        display: none;

        &:checked + label {
            color: $accent;
            background: $background;
        }

        &:checked + label + div {
            display: block;
        }
    }

    & > label {
        font-size: $small-font-size;
        margin-left: 0.5em;
        padding: 0.25em 0.5em;
        border: 1px solid $foreground;
        border-bottom: none;
        cursor: pointer;
        position: relative;
        top: 1px;

        &:hover {
            color: $hover;
        }
    }

    & > div {
        display: none;
        flex-basis: 100%;
        width: 0px; // XXX avoid growing
        order: 999;
        padding: 0 1em;
        border: 1px solid;
    }
}

// other classes

.hidden {
    display: none;
}

.logo {
    $margin: 20px;
    float: right;
    width: 100px;
    height: 100px;
    margin-left: $margin;
    margin-bottom: $margin;
}

.github-buttons {
    display: inline-block;
    margin-left: 10px;

    // avoid displaying the link text during loading
    a.github-button {
        visibility: hidden;
    }
}
