---
layout: common
---

{% assign original_gtfobin = page %}

{% comment %} get the default feature name to use it as default {% endcomment %}
{% assign default_feature_name = site.data.features | first | first %}

{% comment %} binary title {% endcomment %}
{% capture gtfobin_name %}{% include get_gtfobin_name.html path=original_gtfobin.path %}{% endcapture %}
{% include page_title.html title=gtfobin_name %}

{% comment %} resolve the alias {% endcomment %}
{% if original_gtfobin.alias %}
    {% include get_gtfobin.html name=original_gtfobin.alias %}
    {% assign gtfobin = return_gtfobin %}

    {% comment %} render a message about being an alias {% endcomment %}
    <p>This is an alias of <a href="{{ gtfobin.url }}"><code>{{ return_gtfobin_name }}</code></a>.</p>
{% else %}
    {% assign gtfobin = original_gtfobin %}
{% endif %}

{% comment %} function list {% endcomment %}
{% include function_list.html gtfobin=original_gtfobin functions=gtfobin.functions %}

{% comment %} global binary description {% endcomment %}
{% if gtfobin.description %}
    <div class="description">{{ gtfobin.description | markdownify }}</div>
{% endif %}

{% comment %} scan all the available functions in order to find those present {% endcomment %}
{% for function_item in site.data.functions %}
    {% assign function_name = function_item[0] %}
    {% assign function = function_item[1] %}
    {% unless gtfobin.functions contains function_name %}{% continue %}{% endunless %}
    {% assign examples = gtfobin.functions[function_name] %}

    {% comment %} function title and global description {% endcomment %}
    <h2 id="{{ function_name }}" class="function-name">{{- function.label -}}</h2>
    {{ function.description | markdownify }}

    {% comment %} list of function examples {% endcomment %}
    <ul class="examples">
        {% for example in examples %}
            <li>
                {% comment %} build the identifier of this example {% endcomment %}
                {% capture example_id %}{{ function_name }}-{{ forloop.index }}{% endcapture %}

                {% comment %} add a link to the inheriting binary and display the functions {% endcomment %}
                {% if function_name == "inherit" %}
                    <p>Inherits from <a href="/gtfobins/{{ example.from }}/"><code>{{ example.from }}</code></a>, thus possibly granting the following functions:</p>
                    {% include get_gtfobin.html name=example.from %}
                    {% assign gtfobin = return_gtfobin %}
                    {% include function_list.html gtfobin=gtfobin functions=gtfobin.functions %}
                {% endif %}

                {% comment %} version {% endcomment %}
                {% if example.version %}
                    <p><b>Version:</b> {{ example.version }}</p>
                {% endif %}

                {% comment %} additional per-function content {% endcomment %}
                {% case function_name %}
                {% when "reverse-shell", "bind-shell" %}
                    {% if example.tty %}
                        {{ function.extra.tty | markdownify }}
                    {% else %}
                        {{ function.extra.repl | markdownify }}
                    {% endif %}
                {% endcase %}

                {% comment %} example description {% endcomment %}
                {% if example.description %}
                    <div class="description">{{ example.description | markdownify }}</div>
                {% endif %}

                {% comment %} list of features for each example {% endcomment %}
                <div class="features">
                    {% comment %} scan all the available features in order to find those present falling back to the default {% endcomment %}
                    {% assign first = true %}
                    {% for feature_item in site.data.features %}
                        {% assign feature_name = feature_item[0] %}
                        {% assign feature = feature_item[1] %}

                        {% unless example.features contains feature_name or example.features == nil and feature_name == default_feature_name %}{% continue %}{% endunless %}
                        {% assign per_feature_info = example.features[feature_name] %}

                        {% comment %} feature information {% endcomment %}
                        {% capture feature_id %}{{ example_id }}-{{ feature_name }}{% endcapture %}
                        <input type="radio" id="{{ feature_id }}" name="{{ example_id }}" {% if first %}checked{% endif %} />
                        <label for="{{ feature_id }}">{{ feature.label }}</label>
                        <div>
                            {% comment %} global feature description {% endcomment %}
                            {{ feature.description | markdownify }}

                            {% comment %} additional per-feature content {% endcomment %}
                            {% case feature_name %}
                            {% when "suid" %}
                                {% if per_feature_info.limited %}
                                    {{ feature.extra.limited | markdownify }}
                                {% else %}
                                    {{ feature.extra.regular | markdownify }}
                                {% endif %}
                            {% when "capabilities" %}
                                {% if per_feature_info.list %}
                                    <p>The following capabilities are needed: <code>{{ per_feature_info.list | join: "</code>, <code>"}}</code>.<p/>
                                {% endif %}
                            {% endcase %}

                            {% comment %} optional local description {% endcomment %}
                            {% if per_feature_info.description %}
                                <div class="description">{{ per_feature_info.description | markdownify }}</div>
                            {% endif %}

                            {% comment %} use the common code or the specialized per-feature version {% endcomment %}
                            {% capture code %}{% if per_feature_info.code %}{{ per_feature_info.code }}{% else %}{{ example.code }}{% endif %}
                            {% endcapture %}
                            <pre><code>{{- code | escape | strip -}}</code></pre>
                        </div>

                        {% assign first = false %}
                    {% endfor %}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endfor %}

{% comment %} footer with some GitHub links about this binary {% endcomment %}
<p class="small centered">
  <a class="small-link" href="https://github.com/GTFOBins/GTFOBins.github.io/blob/master/_gtfobins/{{ gtfobin_name }}">Source</a>
  |
  <a class="small-link" href="https://github.com/GTFOBins/GTFOBins.github.io/commits/master/_gtfobins/{{ gtfobin_name }}">History</a>
</p>
